@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--main-color: #333a73;
	--second-color: #fba834;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

/* NAVBAR START */
.navbar {
	background-color: #f8f9fa;
	padding: 10px 15px;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

.navbar ul {
	list-style-type: none;
	display: flex;
}

.navbar img {
	max-width: 60px;
	height: auto;
	margin-right: 20px;
}

.navbar a {
	text-decoration: none;
	color: var(--main-color);
	padding: 5px 20px;
	display: inline-block;
}

.navbar a:hover {
	background-color: var(--second-color);
}

.navbar-toggler {
	display: none;
	cursor: pointer;
	color: var(--main-color);
	font-weight: 700;
	font-size: 20px;
}

/* CSS BAGIAN HERO SECTION */
.hero img {
	width: 100%;
	height: 90vh;
	object-fit: cover;
}

.paraph {
	position: absolute;
	justify-content: center;
	text-align: center;
	/* top: -60vh; */
	bottom: 25vh;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

.paraph p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* padding: 5px 0px 0px 0px; */
	font-size: 20px;
	color: white;
}

.paraph h1 {
	/* padding: 5px 0px 0px 0px; */
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	font-size: 50px;
}

.paraph button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 5px;
	font-size: 16px;
	text-align: center;
	color: aliceblue;
	/* background-color: rgb(69, 149, 246); */
	background-color: var(--main-color);
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

.paraph button:hover {
	background-color: #e0e0e0;
	color: rgb(55, 17, 17);
}

.title h2 {
	text-align: center;
	padding: 80px;
	color: var(--main-color);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.card {
	width: 450px;
	margin: 20px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.05);
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-content {
	padding: 16px;
	text-align: center;
}

.card-content h3 {
	margin-top: 0;
	color: var(--second-color);
}

.card-content p {
	color: #555;
}


.footer {
  background-color: #3C5E7A;
  margin-top: 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 24px;
}

.footer-item {
  grid-gap: 2px;
}

.footer-image {
  background-color: #FFF;
  border-radius: 8px;
  width: 12px;
  height: 14px;
}

.footer-text {
  font-size: 16px;
  color: #F0F4F4;
}

.footer-social-media {
  display: flex;
  gap: 8px;
  width: 4rem;
  height: 4rem;
}

.footer-heading {
  font-weight: bold;
  font-size: 20px;
  color: #F0F4F4;
}

.footer-list {
  display: grid;
  gap: 2px;
}

.footer-link {
  color: #F0F4F4;
}

.footer-link:hover {
  color: #3C5E7A;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contact-icon {
  width: 8px;
  height: 8px;
}

.footer-contact-info p {
  font-size: 16px;
  color: #F0F4F4;
}

.footer-contact-info a {
  font-size: 16px;
  color: #F0F4F4;
  text-decoration: none;
}

.footer-contact-info a:hover {
  color: #3C5E7A;
}


@media screen and (max-width: 768px) {
	.navbar a {
		padding: 10px;
	}

	.navbar-toggler {
		display: block;
	}

	.navbar ul {
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		width: 100%;
		background-color: #f8f9fa;
		text-align: center;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		padding: 10px;
	}

	.navbar ul.active {
		display: block;
	}

	.paraph {
		bottom: 35vh;
	}

	.paraph h1 {
		font-size: 32px;
	}
}
/* NAVBAR END */
